/* Title block */
/* Page title style. Content: "Rat Search" */
#title{
    text-align: center;
}
/* Positioning and size of "Rat" logo */
#logo{
    display: grid;
    margin: auto;
    height: 200px;
}
/* The subtitle style. Content:  "Place the Rat to hunt videos" ("Rat hunting videos..." - when search working)*/
#subtitle{
    text-align: center;
}
/* Lodaing eye of Rat */
.logo-img{
    position: center;
    width: 40vw;
    margin-left: 30vw;
}
/* Positioning of eye */
div.rat-eye {
position: absolute;
margin-left: 200px;
margin-top: 150px;
}
/* Animation for eye */
@keyframes ellipse {
    from {fill: black;}
    to {fill: white;}
}
circle {
animation-name: ellipse;
animation-duration: 800ms;
animation-iteration-count: infinite;
}

/* Search block */
/* Stlye for <div> which include search bar and search button */
#search-form{
    display: flex;
    justify-content: center;
}
/* The style of botton "search" */
#search-btn{
    margin-right: 2vw;
}
/* Style for search bar */
.form-control{
    margin-left: 2vw;
}
/* ID for filter buttons block */
#btnBlock{
    display: flex;
    justify-content: center;
}
/* Positionimg of search img */
.search-ico{
    margin-left: 2vw;
}


/* Set the size of card for videos */
.card{
    width: 30em;
    height: 35em;
}
/* Separate class for crat title */
.card-title{
    text-align: center;
    overflow: hidden;
    height: 50px;
}
/* Separate class for video description */
.card-text{
    text-align: center;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
}
/* Style for centering thimbnail of video in the card div */
.img-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


